@font-face {
    font-family: 'googlesans_regular';
    src: url('https://jono292.github.io/material-design-plus/resources/fonts/googlesans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} 

@font-face {
    font-family: 'googlesans_bold';
    src: url('jono292.github.io/material-design-plus/resources/fonts/googlesans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} 



body {
background: #FC466B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #fff;
font-family: "googlesans_regular";
}

.home-title {
 padding-top: 10px;
 padding-left: 5px;
}

.card {
    background-color: #fff;
    border: .1rem solid #fff;
    -webkit-border-radius: .8rem;
    border-radius: .8rem;
    overflow: hidden;
    text-align: left;
    width: 80vw;
    height: 250px;
}

.mdp-card-body {
 font-size: 12px;   
}
